:root {
    --fundo: #9e6262;
    --cartao-frente: #420808;
    --cartao-verso: #864b4b;
    --destaque: #b4c427;
    --preto: #000;
    --branco: #fff;
}

body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    text-align: center;
}

#container {
  display: flex;
  padding: 4rem;
  gap: 3rem;
  flex-wrap: wrap;
}

.cartao {
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    margin: 1rem;
    height: 20rem;
}

.conteudo-cartao {
    background-color: var(--cartao-frente);
    text-align: center;
    height: 100%;
    border-radius: 15px;
}

.conteudo-cartao h3 {
    color: var(--destaque);
    border: 1px solid var(--destaque);
    position: absolute;
    text-align: left;
    margin: 0.6rem;
    padding: 0.6rem;
    border-radius: 0.6rem;
    fonte-size: 1vw;
}