:root {
    --fundo: #000;
    --cartao-frente: #000;
    --cartao-verso: #000;
    --destaque: #000;
    --preto: #000;
    --branco: #fff;
}

body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100;
    text-align: center;
}